.App {
  text-align: center;
}

body {
  background-color: rgba(81, 111, 170, 0.365);
}

.pop-up {
  width: 366px;
  height: 113px;
  background-color: white;
  border: 3px solid red;
  border-radius: 25px;
  padding: 25px 20px;
}

.parent {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.578);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  box-shadow: inset 0 0 0 2000px rgba(70, 68, 68, 0.692);
}